* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
}


.container {
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    min-height: 90vh;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr 10fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
}

.container > h3 {
    grid-column: 1 / 2;
}

.board {
    height: 90%;
    width: 90%;
    background-color: black;
    grid-column: 1 / 2;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 2px;
}

#instructions {
    border: 1px solid black;
}


button:hover {
    cursor: pointer;
}

.cell {
    background-color: blue;
    border: none;
}

.cell:hover {
    border: 1px solid yellow;
}

.miss {
    background-color: white;
}

.hit {
    background-color: red;
}

dialog {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-items: center;
}

#ship-to-add {
    border: 1px solid black;
}

.highlight {
    border: 2px solid yellow;
}

.active-ship {
    background-color: yellow;
}

.sunk-ship {
    background-color: orange;
}

.inactive-board {
    opacity: 0.2;
}