* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

.container {
    width: 60%;
    height: 92%;
    margin-left: 20%;
    margin-top: 2%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.board {
    height: 90%;
    width: 90%;
    background-color: black;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 2px;
}

.cell {
    background-color: blue;
}

.miss {
    background-color: white;
}

.hit {
    background-color: red;
}